.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginCard {
  width: 350px;
  background-color: #b0d297;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1.5rem;
}

.title {
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
  color: #2f5036;
  margin-bottom: 1rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputGroup label {
  font-weight: bold;
  text-align: left;
  font-size: 1.3rem;
}

.inputGroup input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}

.inputGroup input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.passwordWrapper {
  position: relative;
  width: 100%;
}


.showPasswordBtn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.showPasswordBtn img {
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
}

.showPasswordBtn:focus {
  outline: none;
}

.buttonWrapper {
  align-self: center;
}
