  .dashboardContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  .header {
    text-align: center;
    padding: 1rem 0;
    background-color: #e1f0dc;
    font-size: 0.6rem;
  }
  
  .mainContent {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Distribuição das três colunas */
  .leftPanel,
  .centerPanel,
  .rightPanel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .leftPanel {
    flex: 1;
  }
  
  .centerPanel {
    flex: 2;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
  }
  
  
  .rightPanel {
    flex: 1;
  }
  
  /* Media query para dispositivos móveis */
  @media (max-width: 768px) {
    .mainContent {
      flex-direction: column;
    }
  
    .centerPanel {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }
  
  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .liters {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }
  
  .variation {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .up {
    color: green;
  }
  
  .down {
    color: red;
  }
  
  .chartPlaceholder {
    width: 100%;
    height: 200px;
    background-color: #d8e8d0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #555;
  }
  
  .activitiesList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .activityItem {
    margin-bottom: 1rem;
    background-color: #f0f4f8;
    border-radius: 8px;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .activityItem summary {
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .activityItem[open] {
    background-color: #d9e8f5;
  }
  
  .activityItem p {
    margin: 0.5rem 0 0 1rem;
  }
  
  .sectionTitle {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #36603c;
  }