

.wrapper {
    display: flex;
    align-items: center;
    background-color: #b0d297;
    border-radius: 9999px;
    padding: 0.4rem 1rem;
    max-width: 300px;
  }
  
  .icon {
    margin-right: 0.5rem;
    font-size: 1.2rem;
    color: #1a2e1c;
  }
  
  .input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: #1a2e1c;
    width: 100%;
  }