.navbar {
  background-color: #f9fff5;
  border: 2px solid #36603c;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.menuItem {
  position: relative;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
  color: #36603c;
  border: 1px solid #36603c;
  text-align: center;
}

.menuItem:hover {
  background-color: #b0d297;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #d2e5be;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #36603c;
  min-width: 160px;
  z-index: 10;
  display: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.submenu li {
  padding: 0.75rem;
  border-bottom: 1px solid #36603c;
  text-align: left;
}

.submenu li:hover {
  background-color: #b0d297;
}

.menuItem:hover .submenu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
