

.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #3e6440;
    margin-bottom: 1rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2rem;
  }
  
  .card {
    padding: 1.5rem;
  }
  
  .grid {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }
  
  .leftColumn,
  .rightColumn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
  }
  
  label {
    font-weight: bold;
    color: #2d5137;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  
  input,
  select {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #ddd;
    border: none;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  @media (max-width: 768px) {
    .mainContent {
      flex-direction: column;
    }
  
    .centerPanel {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }


  .textarea {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #ffffff;
    border: none;
    resize: vertical;
    min-height: 100px;
  }
  
  .medicationItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  