.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loginCard {
    width: 350px;
    background-color: #b0d297;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1.5rem;
  }
  
  .title {
    align-self: center;
    font-size: 2rem;
    font-weight: bold;
    color: #2f5036;
    margin-bottom: 1rem;
  }
  
  .inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .inputGroup label {
    font-weight: bold;
    text-align: left;
    font-size: 1.3rem;
  }
  
  .inputGroup input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
  }
  
  .forgotPassword {
    text-align: left;
    font-size: 0.9rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
  }
  
  .forgotPassword a {
    color: #2f5036;
    text-decoration: underline;
    font-weight: bold;
  }
  
  .buttonWrapper {
    align-self: center;
  }
  