.title {
  text-align: center;
  color: #3e6440;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.container {
  display: flex;
  gap: 2rem;
}

.sidebar {
  width: 300px;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
}


.filterGroup {
  margin-bottom: 12px;
}

.filterGroup label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  font-size: 1rem;
  line-height: 1.5;
}

.filterGroup label span {
  display: inline-block;
}

.filterGroup p {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.medicamento {
  color: #3e6440;
  background-color: #c5d8af;
  padding: 2px 6px;
  border-radius: 4px;
}

.alimentacao {
  color: #3e6440;
  background-color: #b8d9a6;
  padding: 2px 6px;
  border-radius: 4px;
}

.limpeza {
  color: #3e6440;
  background-color: #d7e6c4;
  padding: 2px 6px;
  border-radius: 4px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}


.mainContent {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .mainContent {
    flex-direction: column;
  }

  .centerPanel {
    grid-template-columns: 1fr;
    padding: 0;
  }
}



.adjustButton {
  background: none;
  border: none;
  color: #3e6440;
  cursor: pointer;
  font-size: 0.9rem;
}

.detailCard {
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f7f7f7;
  width: 300px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.inputGroup input {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}

.buttonRow {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
