
.tableWrapper {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #4b7046;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 0.75rem;
    border: 1px solid #4b7046;
    text-align: left;
  }
  
  thead {
    background-color: #b0d297;
  }
  
  .evenRow {
    background-color: #d2e5be;
  }
  