.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  padding-top: 70px; /* ajuste conforme menu */
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}

/* Evita scroll horizontal */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .main {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .container {
    flex-direction: column;
  }
}