
.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #3e6440;
    margin-bottom: 1rem;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .searchBar {
    margin: 12px 0;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .filters {
    min-width: 240px;
    max-width: 100%;
    flex-shrink: 0;
  }
  
  
  .filterGroup {
    margin-bottom: 12px;
  }
  
  .filterGroup label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .filterGroup label span {
    display: inline-block;
  }  
  
  .cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
  }
  
  .cardContent {
    text-align: left;
    font-size: 1.2rem;
  }

  .clickableCard {
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .clickableCard:hover {
    background-color: #3e6440; /* Verde escuro da paleta */
    color: white;
  }
  
  @media (max-width: 768px) {
    .mainContent {
      flex-direction: column;
    }
  
    .centerPanel {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }